/*=============================================
          _utiliites.scss
================================================*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 0 0 0.25em;
  /*line-height: 1.2em;*/
  line-height: 1.3;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
}
h1 strong {
  color: #2493e9;
}

h2 {
  font-size: 40px;
  font-size: 3rem;
}
h2 strong {
  color: #2493e9;
}

h3 {
  font-size: 2.5rem;
}
h3 strong {
  color: #2493e9;
}

h4 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  /*size: 18px;*/
  font-size: 2rem;
}
h4 strong {
  color: #2493e9;
}

h5 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  /*size: 24px;*/
  font-size: 1.5rem;
}
h5 strong {
  color: #2493e9;
}

h6 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
h6 strong {
  color: #2493e9;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
  line-height: 1.7;
}

a {
  transition: 0.5s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, select {
  padding: 8px;
  width: 100%;
  border: 1px solid #ddd;
  /*border-radius: 5px;*/
}

.content {
  width: 100%;
  max-width: 992px;
  max-width: 1320px;
  margin: 0 auto;
  /*  padding-left: 16px;
    padding-right: 16px;*/
}

.content-sm {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul li {
  display: inline-block;
}

.btn, input[type=submit] {
  background: #2493e9;
  color: #ffffff;
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-bottom: 1em;
  transition: 0.5s;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover, input[type=submit]:hover {
  background: #000000;
}

.social_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -0.75em;
}

/*=============================================
          _header.scss
================================================*/
#header_area {
  width: 100%;
}
#header_area .top_header {
  background: #2493e9;
  color: #ffffff;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
#header_area .top_header .info {
  flex-basis: 33%;
}
#header_area .top_header .info p {
  margin: 0.5em 0 0;
  font-size: 1rem;
  font-weight: 600;
}
#header_area .top_header .info i {
  margin-right: 0.25em;
}
#header_area .top_header .info ul {
  text-align: right;
}
#header_area .top_header .info ul li {
  margin-left: 0.75em;
}
#header_area .top_header .info ul a {
  background: #ffffff;
  color: #000000;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  padding-top: 0.5em;
}
#header_area .top_header .info ul a:hover {
  background: #000000;
  color: #ffffff;
}
#header_area .top_header .info ul i {
  margin: 0;
}
#header_area .main_header {
  padding: 1em;
  font-size: 0.75rem;
}
#header_area .logo_area {
  flex-basis: 20%;
}
#header_area .logo_area img {
  display: block;
}

/*=============================================
          _main-menu.scss
================================================*/
#main_menu {
  flex-basis: 78%;
  padding-top: 0.75em;
}
#main_menu ul {
  text-align: right;
}
#main_menu ul li {
  position: relative;
  margin-left: 1em;
}
#main_menu ul li::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #2493e9;
  transition: 0.5s;
}
#main_menu ul li:hover::after {
  width: 70%;
}
#main_menu ul li:last-child a {
  background: #2493e9;
  color: #ffffff;
  border: 2px solid #2493e9;
  transition: 0.5s;
}
#main_menu ul li:last-child a:hover {
  color: #2493e9;
  background: #ffffff;
  border: 2px solid #2493e9;
}
#main_menu ul li:last-child:hover::after {
  width: 0;
}
#main_menu ul li a {
  display: block;
  padding: 0.5em 1em;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
#main_menu ul li a i {
  display: none;
}

/*=============================================
          _hero-area.scss
================================================*/
#hero_area {
  position: relative;
}
#hero_area .inner_hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
#hero_area .inner_hero p {
  width: 50%;
  font-size: 0.833rem;
}

/*=============================================
          _checkout-area.scss
================================================*/
#checkout_area {
  position: relative;
  margin-top: -4em;
}
#checkout_area .inner_checkout {
  background: #ffffff;
  padding: 1em 2em;
  box-shadow: 0 0 10px #ddd;
  border-radius: 3px;
}
#checkout_area .child_checkout {
  flex-basis: 23%;
}
#checkout_area .child_checkout i {
  float: left;
  /*margin-bottom: -1em;*/
  padding-right: 0.75em;
  margin-top: 0.5em;
  /*      padding-top: 6px;*/
  /*padding-bottom: 0.25em;*/
  font-size: 1.125rem;
}
#checkout_area .child_checkout h5 {
  color: #000000;
  font-size: 1.25rem;
  margin: 0 0 0.25em;
  padding-top: 0.25em;
}
#checkout_area .child_checkout input[type=submit] {
  margin-top: 2.25em;
  padding: 0.75em;
}

/*=============================================
          _about-area.scss
================================================*/
#about_area {
  padding: 3em 0;
  /*padding-bottom: 3.5em;
  padding-top: 2em;*/
}
#about_area img {
  margin-right: 1.5em;
}
#about_area .inner_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about_area h5 {
  margin: 0;
}

/*=============================================
          _why-area.scss
================================================*/
#why_area {
  /*padding: 0;*/
}
#why_area .inner {
  margin-top: 2em;
}
#why_area .child_why {
  flex-basis: 30%;
  background: #ffffff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  margin: 0 1%;
  padding: 1em;
  text-align: center;
}
#why_area .child_why p {
  margin: 0;
  margin-bottom: 0.25em;
}
#why_area .child_why img {
  margin-bottom: 0.75em;
}

/*=============================================
          _living-area.scss
================================================*/
#living_area {
  padding: 3em 0;
}
#living_area .inner {
  margin-top: 1.5em;
}
#living_area .child_living {
  background: #ffffff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 3px;
  flex-basis: 32%;
  text-align: center;
}
#living_area .child_living img {
  border-radius: 3px 3px 0 0;
}
#living_area .child_living .inner_living {
  padding: 1.5em;
}
#living_area .child_living .inner_living--title {
  font-family: "Playfair Display", serif;
}
#living_area .child_living .inner_living--sub-title {
  margin-bottom: 0.75em;
}

/*=============================================
          _construct-area.scss
================================================*/
#contact_area {
  position: relative;
}
#contact_area iframe {
  width: 100%;
  /*height: 450px;*/
  min-height: 450px;
  display: block;
  border: 0;
}
#contact_area .inner_contact {
  position: absolute;
  top: 3%;
  left: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#contact_area .main_content {
  background: #ffffff;
  max-width: 480px;
  width: 100%;
  /*padding: 30px;*/
  padding: 1.5em 2em;
  border-radius: 3px;
  -webkit-box-shadow: 2px 7px 15px 3px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 7px 15px 3px rgba(0, 0, 0, 0.47);
}
#contact_area h5 {
  margin: 0;
}
#contact_area i {
  margin-right: 0.5em;
  background: #2493e9;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.75em;
  font-size: 1em;
}

/*=============================================
          _footer-area.scss
================================================*/
#footer_area {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #2493e9;
}
#footer_area ul {
  margin-bottom: 1em;
}
#footer_area ul li {
  margin-right: 0.75em;
}
#footer_area ul a {
  color: #000000;
  background: #ffffff;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  padding-top: 0.5em;
  margin-right: 0.5em;
}
#footer_area ul a:hover {
  background: #000000;
  color: #ffffff;
}
#footer_area .copyright_area p {
  margin: 0;
  font-weight: 600;
  color: #ffffff;
}

/*=============================================
          _responsive.scss
================================================*/
@media only screen and (max-width: 1036px) {
  html {
    font-size: 83.3333%;
    overflow-x: hidden;
  }
  .content {
    max-width: 992px;
  }
  #checkout_area {
    margin-top: -2.5em;
  }
  div.child_contact.content {
    position: relative;
    top: 5%;
    left: 8%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 800px) {
  html {
    font-size: 75%;
  }
  .content {
    width: 92%;
  }
  #header_area .top_header {
    display: none;
  }
  #header_area .logo_area {
    flex-basis: 100%;
    text-align: center;
  }
  #header_area .logo_area img {
    margin: 0 auto;
    margin-top: 7.5em;
  }
  #main_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #2493e9;
    padding: 0;
  }
  #main_menu ul {
    text-align: center;
  }
  #main_menu ul li {
    margin: 0 1%;
  }
  #main_menu ul li:last-child {
    display: none;
  }
  #main_menu ul li a {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.75em;
  }
  #main_menu ul li a i {
    display: block;
    margin-bottom: 4px;
  }
  #main_menu ul li a:hover {
    background-color: #000000;
  }
  #hero_area img {
    width: 100%;
    height: auto;
  }
  #hero_area p {
    display: none;
  }
  #hero_area a {
    margin: 0;
  }
  #about_area .inner {
    flex-direction: row;
    justify-content: space-between;
  }
  #about_area img {
    width: 50%;
    /*margin-right: 0*/
    /*margin-bottom: 15px;*/
  }
  #why_area .content-sm {
    width: 90%;
  }
  #why_area .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #living_area .inner_living--title {
    letter-spacing: 2px;
  }
  #footer_area ul a {
    padding-top: 0.75em;
  }
}
/*Desktop First Common Breakpoints*/
/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
  /*...tablet landscape and desktop styles */
}
/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
  /*... tablet portrait styles */
}
/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  /*...mobile landscape styles */
}
/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
}

/*# sourceMappingURL=main.css.map */
