/*=============================================
          _header.scss
================================================*/
#header_area {
  width: 100%;

  .top_header {
    background: $clr-primary;
    color: $clr-white;
    padding: $padding-sm;

    .info {
      flex-basis: 33%;

      p {
        margin: 6px 0 0;
        font: {
          size: 14px;
          weight: 600;
        }
      }

      i {
        margin-right: 5px;
      }

      ul {
        text-align: right;

        li {
          margin-left: 8px;
        }

        a {
          background: $clr-white;
          color: $clr-black;
          width: 35px;
          height: 35px;
          display: block;
          text-align: center;
          padding-top: 8px;

          &:hover {
            background: $clr-black;
            color: $clr-white;
          }
        }

        i {
          margin: 0;
        }
      }
    }
  }

  .main_header {
    padding: 8px;
    font-size: 10px;
  }

  .logo_area {
    flex-basis: 20%;

    img {
      display: block;
    }
  }
}