/*=============================================
          _responsive.scss
================================================*/
/*Desktop First Breakpoints*/
@media only screen and (max-width: 1036px) {
  html {
    font-size: 83.3333%;
    overflow-x: hidden;
  }
  .content {
    max-width: 992px;
  }
  #checkout_area {
    margin-top: -2.5em;
  }

  div.child_contact.content {
    position: relative;
    top: 5%;
    left: 8%;
  }

}

@media only screen and (max-width: 800px) {
  html {
    font-size: 75%;
  }
  .content {
    width: 92%;
  }
  #header_area .top_header {
    display: none;

  }

  #header_area .logo_area {
    flex-basis: 100%;
    text-align: center;

    img {
      margin: 0 auto;
      margin-top: 7.5em;
    }
  }

  #main_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: $clr-primary;
    padding: 0;

    ul {
      text-align: center;

      li {
        margin: 0 1%;

        &:last-child {
          display: none;
        }

        a {
          font-size: 1.5rem;
          color: $clr-white;
          padding: .75em;

          i {
            display: block;
            margin-bottom: 4px;
          }

          &:hover {
            background-color: $clr-black;
          }
        }
      }
    }
  }

  #hero_area {
    img {
      width: 100%;
      height: auto;
    }

    p {
      display: none;
    }

    a {
      margin: 0;
    }
  }

  #about_area {
    .inner {
      flex-direction: row;
      justify-content: space-between;
    }

    img {
      width: 50%;
      /*margin-right: 0*/
    ;
      /*margin-bottom: 15px;*/
    }
  }

  #why_area {
    .content-sm {
      width: 90%;
    }

    .inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

    }
  }

  #living_area {
    .inner_living--title {
      letter-spacing: 2px;
    }
  }

  #footer_area {
    ul a {
      padding-top: 0.75em;
    }
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 62.5%;
  }
  h1 {
    font-size: 3.25rem;
  }

  #contact_area {
    .inner_contact {
      left: -1%;
    }

    .main_content {
      max-width: 400px;
    }

    i {
      height: 24px;
      width: 24px;
    }
  }
  #footer_area {
    .content {
      .social_area {
        ul {
          li {
            a {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 514px) {
  #checkout_area {
    margin-top: 20px;

    .inner_checkout {
      flex-direction: column;
    }

    .child_checkout {
      margin-bottom: 15px;
      width: 100%;
      max-width: 480px;

      &:last-child {
        margin-bottom: 0;
      }

      input[type="date"],
      select,
      input[type="submit"] {
        width: 100%;
        max-width: 480px;
      }
      input[type="submit"] {
        margin-top: 0;
      }
    }
  }

  #about_area {
    .inner {
      flex-direction: column;
    }

    img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 475px) {
  html {
    font-size: 50%;
  }
  #about_area {
    .inner_about {
      align-items: center;
      text-align: center;
    }
  }

  #why_area .inner {
    display: flex;
    flex-direction: column;
  }

  #living_area .inner {
    display: flex;
    flex-direction: column;
  }

  #living_area {
    .inner_living--title {
      letter-spacing: 1px;
    }
  }
  #why_area .child_why, #living_area .child_living {
    margin: 0 auto 15px;
    width: 96%;
    box-shadow: $box-shadow;

    &:last-child {
      margin-bottom: 0;
    }
  }
  #contact_area iframe {
    height: 248px;
  }
  #contact_area .inner_contact {
    position: relative;
    border-bottom: 1px solid #dddddd;

  }

  #contact_area .child_contact {
    top: 5%;
    left: 1%;

    .main_content {
      max-width: 480px;
    }
  }

}

@media only screen and (max-width: 324px) {
  #header_area {
    #main_menu ul li a {
      padding: .5em 1em;
      margin: .5em auto;
      font-size: 1.2rem;
    }
  }
}



