/*=============================================
          _utilities.scss
================================================*/
/* ================================================
            Website Resets
=================================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0 !important;
}

*:focus {
  outline: none !important;
}


/*=============================================
          variables
================================================*/
$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Playfair Display', serif;

$clr-primary: #2493e9;
$clr-black: #000000;
$clr-white: #ffffff;

$margin-lg: 30px 0;
$margin-sm: 0 0 15px;

$padding-lg: 45px 0;
$padding-sm: 15px 0;

/*=============================================
          common styles
================================================*/
body {
  // font-size: 16px;
  // font-family: $primaryFont;
  // font-weight: 300;
  font: {
    size: 16px;
    family: $ff-primary;
    weight: 300;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $ff-secondary;
    weight: 700;
  }
  margin: $margin-sm;
}

p {
  font: {
    family: $ff-primary;
    weight: 300;
  }
  margin: $margin-sm;
}

a {
  transition: 0.5s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}