/*=============================================
          _why-area.scss
================================================*/
#why_area{
  /*padding: 0;*/
  .inner{
    margin-top: 2em;
  }
  .child_why{
    flex-basis: 30%;
    background: $clr-white;
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin: 0 1%;
    padding: 1em;
    text-align: center;
    p{
      margin: 0;
      margin-bottom: 0.25em;
    }
    img{
      margin-bottom: 0.75em;
    }
  }
}